.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  max-width: 520px;
  margin: 20px auto;
}

.home-page input {
  border-radius: 0.1rem;
  outline: none;
  border: none;
  padding: 5px 10px;
  background: #3a3535;
  border-bottom: 2px groove #9f9f9f;
  color: #efef;
  letter-spacing: 0.1rem;
}

.home-page button {
  background: #3b6172;
}
